<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo list</title>
</head>
<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
</style>

<body>
    <form action="/account/createjob" method="post">
        <label>Cong viec</label>
        <input type="text" name="id" />
        <input type="text" name="job" />
        <button type="submit">Create</button>
    </form>

    <h2>To-Do List</h2>

    <!-- <ul>
        <% datas.toDo.forEach(function(item) { %>
            <li>
                <%= item.id %> - <%= item.job %>
            </li>
            <% }); %>
    </ul> -->


    <table style="width:100%">
        <thead>
            <tr>
                <th>id</th>
                <th>job</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% datas.toDo.forEach(function(item) { %>
                <tr>
                    <td>
                        <%= item.id %>
                    </td>
                    <td>
                        <%= item.job %>
                    </td>
                    <th>
                        <form action="/account/editjob/<%= datas.username %>" method="get">
                            <button type="submit">Edit</button>
                        </form>
                        <form action="/account/delete/<%= item.id %>" method="post">
                            <button type="submit">Delete</button>
                        </form>

                        <!-- <button type="submit">Edit</button>
                        <button type="submit">Delete</button> -->
                    </th>
                </tr>
                <% }); %>
        </tbody>
    </table>



</body>

</html>